@model ArtistViewModel

<br />
<div class="thumbnail">
    <img alt="@Model.AllArtists.ArtistName" src="@Model.AllArtists.ImgUrl">
    <div class="caption-full">

        <span class="border">

            <h4>@Model.AllArtists.Description</h4>

        </span>


        @* Перечень альбомов для у каждого артиста *@


    </div>
</div>

<div class="row">

    @foreach (var album in Model.AllAlbums)
    {
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="thumbnail">

            <div class="gallery2">

                <div class="ramka"> <img src="@album.ImgUrl" /> </div>

            </div>

            <div class="caption">

                <h3>
                    <a > @album.AlbumName</a>
                </h3>


              



            </div>




   




        </div>
            </div>
     }
        </div>