@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are the vinyl records in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Vinyl</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right">Remove item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@line.Amount</td>

                <td class="text-left">@line.Vinyl.Album.Artist.ArtistName</td>


                <td class="text-right">@line.Vinyl.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Vinyl.Price).ToString("c"))
                </td>
                <td>
                    <form asp-action="RemoveFromShoppingCart" method="post">
                        <input type="hidden" name="VinylId"
                               value="@line.Vinyl.VinylId" />
                       <button type="submit" class="btn btn-sm btn-danger">
                           Remove
                       </button>


                    </form>

                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

@*<div class="text-center">*@
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
<a class="btn btn-primary" asp-controller="Vinyl" asp-action="List">Continue shopping</a>
 

